#password-reset-box{
    margin: auto;
    width: 20%;
    margin-top: 200px;
}
#password-reset-box h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
color: #386150;
text-align: center;
}
#error{
    text-align: center;
    color: #386150;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#email{
    margin-top: 10px;
    margin-left: 65px;
}
.btn-primary{
    color:white;
    background-color: #386150;
    border-style: none;
    padding: 12px 70px 12px 70px;
    margin-top: 15px;
    margin-left: 63px;
}

.btn-primary:hover{
    background-color: #58B09C;
}